* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --color-primary: hsl(179, 62%, 43%);
    --color-second: hsl(71, 73%, 54%);
    --color-tertiary: hsl(204, 43%, 93%);
    --color-text: hsl(218, 22%, 67%);
    --color-base: hsl(0, 100%, 100%);

    --font-text: 400 17px/1.5 'Karla', sans-serif;
    --font-text2: 400 15px/1.5 'Karla', sans-serif;
    --font-title: 700 25px 'Karla', sans-serif;
    --font-subtitle: 600 18px 'Karla', sans-serif;
    --font-title2: 700 19px 'Karla', sans-serif;
    --font-value: 700 2.2em 'Karla', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--color-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 0 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card1 card1" "card2 card3";
}


.card1, .card2, .card3 {
    width: 100%;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card1 {
    grid-area: card1;
    max-width: 700px;
    background-color: var(--color-base);
    border-radius: 8px 8px 0 0;
}

.card1 .title {
    font: var(--font-title);
    color: var(--color-primary);
}

.subtitle {
    color: var(--color-second);
    font: var(--font-subtitle);
}

.paragraph {
    color: var(--color-text);
    font: var(--font-text);
}

.card2 {
    grid-area: card2;
    max-width: 350px;
    background-color: var(--color-primary);
    border-radius: 0 0 0 8px;
}

.card2 .title2 {
    font: var(--font-title2);
    color: var(--color-base);
    opacity: 0.8;
}

.value-div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.value {
    font: var(--font-value);
    color: var(--color-base);
}

.value-description {
    font: var(--font-text);
    color: var(--color-tertiary);
    opacity: 0.7;
}

.paragraph2 {
    color: var(--color-base);
    font: var(--font-text);
}

.card2-button {
    padding: 0.8em 0;
    margin-top: 1em;
    background-color: var(--color-second);
    font: var(--font-subtitle);
    color: var(--color-base);
    box-shadow: 0 10px 10px 0 hsla(0, 0%, 0%, 0.1);
    text-align: center;
    border-radius: 5px;
}

.card3 {
    grid-area: card3;
    max-width: 350px;
    background-color: var(--color-primary);
    filter: opacity(0.8);
    border-radius: 0 0 8px 0;
}

.card3 .title2 {
    font: var(--font-title2);
    color: var(--color-base);
}

.list li {
    color: var(--color-tertiary);
    font: var(--font-text2);
    opacity: 0.8;
}

@media (max-width: 600px) {
    :root {
        --font-text: 400 16px/1.5 'Karla', sans-serif;
        --font-title: 700 22px 'Karla', sans-serif;
        --font-subtitle: 500 16px 'Karla', sans-serif;
    }
    main {
        grid-template-areas: "card1 card1" "card2 card2" "card3 card3";
        margin: 4em 2em;
    }
    .card1, .card2, .card3 {
        padding: 2em;
    }
    .card1 {
        max-width: 350px;
    }
    .card2 {
        border-radius: 0;
    }
    .card3 {
        border-radius: 0 0 8px 8px;
    }
}