* {
    padding: 0;
    margin: 0;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);

    --font-400: 400 15px 'Outfit', sans-serif;
    --font-700: 700 20px 'Outfit', sans-serif;
}

main {
    background-color: var(--color-light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-qr-code {
    max-width: 20rem;
    background-color: var(--color-white);
    padding: 13px 13px 35px 13px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.qr-code-img {
    max-width: 315px;
    max-height: 315px;
    border-radius: 10px;
}

.title-qr-code {
    max-width: 280px;
    font: var(--font-700);
    color: var(--color-dark-blue)
}

.about-qr-code {
    max-width: 250px;
    font: var(--font-400);
    color: var(--color-grayish-blue)
}